/* --- Variables de Colores --- */
:root {
  --primary-color: #e69020; /* Azul */
  --primary-hover: #865412; /* Azul oscuro (hover) */
  --bg-app: #f3f4f6; /* Fondo gris claro de la web */
  --panel-bg: #ffffff; /* Blanco del contenedor */
  --text-color: #1f2937; /* Gris oscuro para texto */
  --border-color: #e5e7eb; /* Gris suave para bordes */
}

/* --- Estilos Generales --- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#cy {
  width: 100%;
  height: 400px;
}

body {
  background-color: var(--bg-app);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
}

/* --- (.main-container) --- */
.main-container {
  background-color: var(--panel-bg);
  width: 100%;
  max-width: 900px;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

header {
  border-bottom: 1px solid var(--border-color);
  padding-bottom: 1rem;
}

header h1 {
  color: var(--primary-color);
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}

header p {
  color: #6b7280;
  font-size: 0.95rem;
}

/* --- (.controls-panel) --- */
.controls-panel {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: flex-end; /* Alinea los inputs  */
  padding-bottom: 1.5rem;
  border-bottom: 1px solid var(--border-color);
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-group label {
  font-size: 0.9rem;
  font-weight: 600;
}

.input-group select {
  padding: 0.6rem;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: #fff;
  min-width: 200px;
  font-size: 0.95rem;
  cursor: pointer;
}

option:disabled {
  background-color: #f1f5f9;
  color: #94a3b8; /* Gris claro */
  font-style: italic;
}

/* --- (.primary-btn) --- */
.primary-btn {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 0.7rem 1.2rem;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.2s;
}

.primary-btn:hover {
  background-color: var(--primary-hover);
}

/* --- Tooltip --- */
.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px;
  font-size: 0.8rem;

  /* Posicionamiento */
  position: absolute;
  z-index: 10;
  bottom: 125%; /* Arriba del botón */
  left: 50%;
  transform: translateX(-50%); /* Centrado perfecto */

  /* Animación */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* ---(.empty-canvas) --- */
.empty-canvas {
  width: 100%;
  height: 400px;
  background-color: #fafafa;
  border: 2px dashed var(--border-color);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.placeholder-text {
  color: #9ca3af;
  font-style: italic;
  user-select: none;
}

.popUpMessage {
  background-color: #ffffff;
  border: 2px solid #9c9c9c;
  color: #464646;
  border-radius: 5px;
  padding: 6px;
  width: 400px;
  display: flex;
  flex-direction: column;
  position: absolute;
  place-self: center;
  margin-top: 30vh;
  transition: opacity 0.5s;
}
.opacity-transition {
  opacity: 0%;
}
.no-display {
  transform: translateX(150vw);
}
.popUpMessage header {
  display: flex;
}
header .quitBtn {
  margin-left: auto;
  width: fit-content;
  background-color: none;
  border: none;
}
.contend {
  display: flex;
  margin-top: 10px;
}
.acceptBtn {
  background-color: rgb(76, 76, 195);
  color: white;
  border: none;
  padding: 5px;
  border-radius: 4px;

  margin-left: auto;
  width: fit-content;
}
.acceptBtn:hover {
  background-color: rgb(56, 56, 141);
}
